@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(https://i.postimg.cc/s2pfncrL/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.box {
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 100%;
    max-width: 500px; 
    border-radius: 20px; 
    position: relative;
}

.form-box h2 {
    font-size: 30px;
}

.form-box p {
    font-weight: bold;
    color: #3D3D3D;
}

.form-box p a {
    color: #FF008A;
    text-decoration: none;
    transition: color 0.3s;
}

.form-box p a:hover {
    text-decoration: underline;
}

.form-box form {
    margin: 20px 0;
}

.input-group-group {
    display: flex; 
    gap: 10px; 
}

form .input-group {
    position: relative;
    margin-bottom: 20px;
    flex: 1; 
}

form .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form .input-group input {
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    padding-right: 40px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}

form .input-group input:focus {
    border-color: #ff008869;
}

form .input-group i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(5px);
    color: black;
    font-size: 18px;
}

form .input-group button {
    width: 100%;
    height: 47px;
    background: #FF008A;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

form .input-group button:hover {
    background-color: #f02f96;
}

@media (max-width: 930px) {
    .box {
        width: 100%;
        max-width: 700px; 
    }
    .form-box {
        border-radius: 20px; 
    }
}

@media (max-width: 500px) {
    .input-group-group {
        flex-direction: column; 
    }
}
